<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audioCodecInfo</key>
	<string>mp4a.40.5</string>
	<key>avgBitRate</key>
	<real>66585</real>
	<key>maxBitRate</key>
	<real>77506</real>
</dict>
</plist>
