<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audioCodecInfo</key>
	<string>mp4a.40.29</string>
	<key>avgBitRate</key>
	<real>189101</real>
	<key>iframe_MaxBitRate</key>
	<real>133120</real>
	<key>iframe_avgBitRate</key>
	<real>77311</real>
	<key>maxBitRate</key>
	<real>251731</real>
	<key>videoCodecInfo</key>
	<string>hvc1.1.60000000.L63.B0</string>
	<key>videoDimensions</key>
	<dict>
		<key>Height</key>
		<real>360</real>
		<key>Width</key>
		<real>640</real>
	</dict>
</dict>
</plist>
